<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <img src="{{ site.baseurl }}/assets/img/logo.webp" alt="logo" width="100" height="100" style="vertical-align: middle;">
      <!-- <h2 class="nav-title">{{ site.title }}</h2> -->
    </a>
    <ul>
      <li><a href="{{ site.baseurl }}/">ᲛᲗᲐᲕᲐᲠᲘ</a></li>
      <li><a href="{{ '/info' | prepend: site.baseurl }}">ᲘᲜᲤᲝᲠᲛᲐᲪᲘᲐ</a></li>
      <!-- <li><a href="{{ '/sale' | prepend: site.baseurl }}">ᲒᲐᲧᲘᲓᲕᲔᲑᲘ</a></li> -->
      <li><a href="{{ '/about' | prepend: site.baseurl }}">ᲩᲕᲔᲜᲡ ᲨᲔᲡᲐᲮᲔᲑ</a></li>
    </ul>
  </div>
</nav>
